html body div {height：100%;}
body {
    background-color:#68cdd5;
    }
p{
    font-size: 16px;
    color:white;
    }

.icon{
    width:42px;height: 42px
}

.aaa{
    margin:0px auto 120px;width: 70%;
}

.fd{
    display: block;
    }
.fhb{
    width:27px;
    margin: 7px 0px 0px 12px ;
    }
.box2{
    float: right ;
    margin-right: 15%;
    text-align: center;
    }
.box3{
    float: left  ;
    margin-left: 15%;
    text-align: center;
    }
.logo{
    width:100px;margin:30px auto 60px;
    }