
body{margin:0; max-width: 768px;margin: 0 auto;}
.div{
margin-bottom: 50px;
overflow: hidden;
}
.div div{
    float: left;
    width: 31.33%;
   padding-bottom: 31.33%;
   margin: 1%;
   border-radius: 10%;
   background-color: orange;
}
button{
    line-height: 66px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid orange;
    margin: 10px 0;
    font-size: 20px;
    letter-spacing: 5px;
    color: orange;
    background-color: transparent;
}
button:focus {
    outline:none;
}