$maincolor:#29b078;
html,body{background-color: #fafafa;}
.main-clr{
    color: $maincolor;
}
.main-bg{
    background-color: $maincolor;
}

//导航
.nva-top-txt{
    font-size: 14px;
    line-height: 40px;
}
.nva-top-icon{
    background-image: url(img/min34.png);
    background-size: auto 34px;
    height:34px;
    width: 34px;
    display: inline-block;
}
.top-icon1{
background-position: 0 1px;
}
.top-icon2{
    background-position: -34px 1px;
    }
.top-icon3{
        background-position: -68px 1px;
        }
.nav{
    font-size: 16px;
    color: #fff;
    width: 36%;
    li{
    line-height: 92px;
    padding: 4px 0;
    }
}
.nav-img{
    width: 300px;
    height: auto;
}
//折叠导航
.drop {
    display: none;
    }
    .drop + input {
      display: none;
    }
  //优势
  .learn-icon1{
    background-position: -112px 1px;
    width: 20px;
}
.Learn{
    border-left: 1px dashed #d1d1d1;
}
//学习
.xuexi{margin-left: -15px}
 .no{
          width: 70px;
          height: 70px;
          background-color: #fff;
          line-height: 70px;
          box-shadow: 0 0 5px #999;
          border-radius: 100%;
          margin-right: 10px;
      }

  .xuexi-icon1{
    background-position: -136px 1px;
}
//优秀
.youxiu{
    background-color: #fff;
    box-shadow: 0 0 3px #dfdfdf;
    border-radius: 10px;
    &:hover{
        background-color: #fafafa;
        box-shadow: 0 0 5px #dfdfdf;
    }
   
}
.contain {position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    label {width: 20px;
        margin: 0 10px;
        line-height: 20px;
        color: #fff;
        background-color:#999;
        border-radius: 100%;
        cursor: pointer;
        z-index: 777;}}


.contain ul {padding: 0;
    width: 300%;
    transition: all 0.5s;}
.contain li {float: left;
   width: calc(100%/3;}
.label1 {position: absolute;
    bottom: 10px;
    left: 45%;
    margin-left: -10px !important;}
.label2 { position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px !important;}
.label3 { position: absolute;
    bottom: 10px;
    left: 55%;
    margin-left: -10px !important; }
#a:checked~ul {margin-left: 0;}
#a:checked~.label1 {background-color:$maincolor;}
#b:checked~ul {margin-left: -100%;}
#b:checked~.label2 {background-color: $maincolor;}
#c:checked~ul {margin-left: -200%}
#c:checked~.label3 {background-color: $maincolor}
//合作
.hz{
    box-shadow: 0 0 3px #dfdfdf;
.hz-logo{
    min-width: 190px;
    font-size: 0;
    line-height: 120px;
    text-align:center;
    background-color: #fff;
    &:hover{
        box-shadow: 0 0 5px #999;
        z-index: 777;
    }
}  
}
//友情
.youqing{
    background-color: #fff;
    li{list-style: outside;margin-left: 50px;}
}
// 底部
.footer-buttom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $maincolor;
    hr{height: 1px;
    background-color: #fff;
width: 100%;}
.jineng{
    margin-right: 50px
}
.qixia{
    max-width: 300px;
}
li{
    margin-right: 20px;
    line-height: 24px;
}
a{
    color: #fff;
    &:hover{
        color: #fff;
    }
}
}
  //媒体查询
 @media(min-width:576px){
    .nav{
        li{
        &:hover{
            padding-bottom:0;
            border-bottom:4px solid;  
        }
        }
    }
 }
 @media(max-width:991.88px){
    .xuexi{
        .two{
            padding-right: 20px;
            .xuexi-icon1{
               display: none;
            } 
        }
    }
 }
  @media(max-width:767.88px){
    .nav-img{
        width: 250px;
    } 
  }
  @media(max-width:575.88px){
    .dsp-no-576{
        display: none;
    }
    .contain{
        ul {padding: 0;
            width: 100%;}
         li {float: left;
           width: 100%;
        &>div{
            flex-wrap: nowrap;
            overflow-x: auto;
            .col-12{
                flex: none;
    width: 75%;
            }
        }
        }
    } 
    .nav{ 
    li{
        line-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        &:hover{
            background-color: #258d61
        }
    }
    } 
    .nav-img{
        width: 200px;
    } 
    .drop {
        display: block;
        cursor: pointer;
        display: block;
        font-size: 30px;
        color: #fff;
        line-height: 70px;
      }
   
      .drop + input + ul {
        display: none;
      }
      
      .drop + input:checked + ul {
        display: block;
        width: 100%;
      }
      .xuexi-icon1{
        display: none;
     } 
     .xuexi{
        .pad-r-0{
            padding-right: 20px;
        }
    }
    .Learn{
        border: 0;
    }
  }