$maincolor:#29b078;
html,body{background-color: #fafafa;}
.clr-o{
    color: #ff5c00;
}
.main-clr{
    color: $maincolor;
}
.main-bg{
    background-color: $maincolor;
}
.li-hover{
        padding-bottom:0 !important;
        border-bottom:4px solid;  
    }
hr{
    height: 1px;
    background-color: #e0e0e0;
}
//导航
.nva-top-txt{
    font-size: 14px;
    line-height: 40px;
}
.nva-top-icon{
    background-image: url(img/min34.png);
    background-size: auto 34px;
    height:34px;
    width: 34px;
    display: inline-block;
}
.top-icon1{
background-position: 0 1px;
}
.top-icon2{
    background-position: -34px 1px;
    }
.top-icon3{
        background-position: -68px 1px;
        }
.nav{
    font-size: 16px;
    color: #fff;
    width: 36%;
    li{
    line-height: 92px;
    padding: 4px 0;
    }
    a{
        color: #fff;
        &:hover{
            text-decoration: none;
        }
    }
}
.nav-img{
    width: 300px;
    height: auto;
}
//折叠导航
.drop {
    display: none;
    }
    .drop + input {
      display: none;
    }
  //面包
  .mianbao{
    padding: 20px 0;
    a:hover{
color: $maincolor;
    }
    span{
        margin: 0 10px;
    }
}
.daohang{
    margin: 10px 0;
    .zyno{
        margin-bottom: 50px;
        display: none;
    }
    label{
        display: inline-block;
        line-height: 30px;
        margin: 0 5px;
        padding: 2px 5px;
        text-align: center;
&:hover{
    color:#fff;
    background-color:  $maincolor;
        }
    }}

.bor-r1-e0{
    border-right: 1px solid #e0e0e0;
}
.line-h30{
    line-height: 30px;
}
.table-box{
    position: relative;
    box-shadow: 0 0 3px #adadad;
    overflow: hidden;
    &:hover{
        .hover{
            left: 0;
            transition: left .3s linear 0s;
        }
    }
    .hover{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0 ,.7);
        position: absolute;
        top: 0;
        left: -100%;
    }
    div{
        min-height: 30px;
    }
}
#aa:checked~.zyno {display: block;}
#aa:checked~.label1 {background-color:$maincolor; color: #fff;}
#bb:checked~.qianduan {display: block;}
#bb:checked~.label2 {background-color:$maincolor; color: #fff;}
#cc:checked~.houduan{display: block;}
#cc:checked~.label3{background-color:$maincolor; color: #fff;}
#dd:checked~.yidong {display: block;}
#dd:checked~.label4 {background-color:$maincolor; color: #fff;}
#ee:checked~.zhengzhan {display: block;}
#ee:checked~.label5 {background-color:$maincolor; color: #fff;}
#ff:checked~.yunying{display: block;}
#ff:checked~.label6{background-color:$maincolor; color: #fff;}
// 底部
.footer-buttom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $maincolor;
    hr{height: 1px;
    background-color: #fff;
width: 100%;}
.jineng{
    margin-right: 50px
}
.qixia{
    max-width: 300px;
}
li{
    margin-right: 20px;
    line-height: 24px;
}
a{
    color: #fff;
    &:hover{
        color: #fff;
    }
}
}
  //媒体查询
 @media(min-width:576px){
    .nav{
        li{
        &:hover{
            padding-bottom:0;
            border-bottom:4px solid;  
        }
        }
    }

 }
 @media(max-width:991.88px){
    .table-box{
        img{
            width: 120px;
        }
    }
 }
 
  @media(max-width:767.88px){
    .table-box{
        img{
            width: 110px;
        }
    }
    .nav{
        li{
            line-height: 80px;
        }
    }
    .nav-img{
        width: 250px;
    } 
}
  @media(max-width:575.88px){
      .footer-buttom{
          font-size: 12px;
      }
      .spanfww{
          display: block;
          width: 100%;
          margin: 5px;
      }
      .table-box{
        img{
            width: 90px;
        }
    }
    .nav{ 
        .li-hover{
            line-height: 50px;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
            border: 0;
            background-color: #258d61
        }
    li{
        line-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        &:hover{
            background-color: #258d61
        }
    }
    } 
    .nav-img{
        width: 200px;
    } 
    .drop {
        display: block;
        cursor: pointer;
        display: block;
        font-size: 30px;
        color: #fff;
        line-height: 60px;
      }
   
      .drop + input + ul {
        display: none;
      }
      
      .drop + input:checked + ul {
        display: block;
        width: 100%;
      }

  }