html, body {
  background-color: #fafafa;
}

.main-clr {
  color: #29b078;
}

.main-bg {
  background-color: #29b078;
}

.nva-top-txt {
  font-size: 14px;
  line-height: 40px;
}

.nva-top-icon {
  background-image: url(img/min34.png);
  background-size: auto 34px;
  height: 34px;
  width: 34px;
  display: inline-block;
}

.top-icon1 {
  background-position: 0 1px;
}

.top-icon2 {
  background-position: -34px 1px;
}

.top-icon3 {
  background-position: -68px 1px;
}

.nav {
  font-size: 16px;
  color: #fff;
  width: 36%;
}

.nav li {
  line-height: 92px;
  padding: 4px 0;
}

.nav a {
  color: #fff;
}

.nav a:hover {
  text-decoration: none;
}

.nav-img {
  width: 300px;
  height: auto;
}

.drop {
  display: none;
}

.drop + input {
  display: none;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner span {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #fff;
}

.banner .ba-box {
  width: calc(100% * 4);
  font-size: 0;
  animation: banner 6s ease 1s infinite;
  -moz-animation: banner 6s ease  1s infinite;
  -webkit-animation: banner 6s ease  1s infinite;
}

.banner .ba-box img {
  width: calc(100% / 4);
}

.banner .ba-icon {
  position: absolute;
  bottom: 37px;
  left: 50%;
  line-height: 0;
  margin-left: -71px;
}

.banner .main-icon {
  position: absolute;
  bottom: 37px;
  left: 50%;
  line-height: 0;
  margin-left: -55px;
  background-color: #29b078;
  animation: icon 6s ease  infinite;
  -moz-animation: icon 6s  ease  infinite;
  -webkit-animation: icon 6s ease   infinite;
}

@keyframes banner {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  33% {
    margin-left: -100%;
  }
  43% {
    margin-left: -100%;
  }
  66% {
    margin-left: -200%;
  }
  76% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes icon {
  0%, 27% {
    margin-left: -56px;
    opacity: 1;
  }
  28.1%, 30% {
    margin-left: -56px;
    opacity: 0;
  }
  30.1%, 30.2% {
    margin-left: -8px;
  }
  36.3%, 59% {
    margin-left: -8px;
    opacity: 1;
  }
  59.1%, 59.2% {
    opacity: 0;
  }
  62.3%, 64.3% {
    margin-left: 40px;
  }
  70.6%, 90% {
    margin-left: 40px;
    opacity: 1;
  }
  90.1%, 91% {
    margin-left: 40px;
    opacity: 0;
  }
  94%, 96% {
    opacity: 0;
    margin-left: 0px;
  }
}

.bg-gray-hover:hover {
  background-color: #f1f1f1;
}

.learn-icon1 {
  background-position: -112px 1px;
  width: 20px;
}

.Learn {
  border-left: 1px dashed #d1d1d1;
}

.xuexi {
  margin-left: -15px;
  margin-bottom: 30px;
}

.xuexi > div:hover > .no {
  box-shadow: 0 0 7px #666;
}

.xuexi > div:hover > .clr-999 {
  color: #333;
}

.no {
  width: 70px;
  height: 70px;
  background-color: #fff;
  line-height: 70px;
  box-shadow: 0 0 5px #999;
  border-radius: 100%;
  margin-right: 10px;
}

.xuexi-icon1 {
  background-position: -136px 1px;
}

.youxiu {
  background-color: #fff;
  box-shadow: 0 0 3px #dfdfdf;
  border-radius: 10px;
}

.youxiu:hover {
  background-color: #fafafa;
  box-shadow: 0 0 5px #dfdfdf;
}

.contain {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.contain label {
  width: 10px;
  height: 10px;
  background-color: #d8d8d8;
  border-radius: 100%;
  cursor: pointer;
  z-index: 777;
}

.contain label:hover {
  background-color: #fff;
  border: 1px solid #29b078;
}

.contain ul {
  padding: 0;
  width: 300%;
  transition: all 0.5s;
}

.contain li {
  float: left;
  width: calc(100%/3);
}

.label1 {
  position: absolute;
  bottom: 10px;
  left: 48%;
  margin-left: -15px !important;
}

.label2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -7px !important;
}

.label3 {
  position: absolute;
  bottom: 10px;
  left: 52%;
  margin-right: -15px !important;
}

#a:checked ~ ul {
  margin-left: 0;
}

#a:checked ~ .label1 {
  background-color: #29b078;
}

#b:checked ~ ul {
  margin-left: -100%;
}

#b:checked ~ .label2 {
  background-color: #29b078;
}

#c:checked ~ ul {
  margin-left: -200%;
}

#c:checked ~ .label3 {
  background-color: #29b078;
}

.hz {
  box-shadow: 0 0 3px #dfdfdf;
}

.hz .hz-logo {
  min-width: 190px;
  font-size: 0;
  line-height: 120px;
  text-align: center;
  background-color: #fff;
}

.hz .hz-logo:hover {
  box-shadow: 0 0 5px #999;
  z-index: 777;
}

.youqing {
  background-color: #fff;
}

.youqing a {
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 13px;
  color: #999;
  font-weight: 300;
  line-height: 26px;
}

.youqing a:hover {
  color: #333;
}

.footer-buttom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #29b078;
}

.footer-buttom hr {
  height: 1px;
  background-color: #fff;
  width: 100%;
}

.footer-buttom .jineng {
  margin-right: 50px;
}

.footer-buttom .qixia {
  max-width: 300px;
}

.footer-buttom li {
  margin-right: 20px;
  line-height: 24px;
}

.footer-buttom a {
  color: #fff;
}

.footer-buttom a:hover {
  color: #fff;
}

@media (min-width: 576px) {
  .nav li:hover {
    padding-bottom: 0;
    border-bottom: 4px solid;
  }
}

@media (max-width: 991.88px) {
  .youqing .container {
    padding: 0;
  }
  .xuexi .two {
    padding-right: 20px;
  }
  .xuexi .two .xuexi-icon1 {
    display: none;
  }
}

@media (max-width: 767.88px) {
  .ba-icon, .main-icon {
    display: none !important;
  }
  .nav li {
    line-height: 80px;
  }
  .nav-img {
    width: 250px;
  }
  .youqing .container {
    padding: 0 15px;
  }
  .youqing .container a {
    width: 20%;
  }
}

@media (max-width: 575.88px) {
  .footer-buttom {
    font-size: 12px;
  }
  .youqing .container a {
    width: 25%;
  }
  .flex-fdc-aic-576 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dsp-no-576 {
    display: none;
  }
  .contain ul {
    padding: 0;
    width: 100%;
  }
  .contain li {
    float: left;
    width: 100%;
  }
  .contain li > div {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .contain li > div .col-12 {
    flex: none;
    width: 60%;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0 10px;
  }
  .nav li {
    line-height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .nav li:hover {
    background-color: #258d61;
  }
  .nav-img {
    width: 200px;
  }
  .drop {
    display: block;
    cursor: pointer;
    display: block;
    font-size: 30px;
    color: #fff;
    line-height: 60px;
  }
  .drop + input + ul {
    display: none;
  }
  .drop + input:checked + ul {
    display: block;
    width: 100%;
  }
  .xuexi-icon1 {
    display: none;
  }
  .xuexi .pad-r-0 {
    padding-right: 20px;
  }
  .Learn {
    border: 0;
  }
}
