
  .iconfont{
    font-family: 'iconfont';
}
.icon1{
  line-height: 44px;
  font-size: 20px;
  margin-left:20px ;
  color: white;
}
.icon1-2{
    line-height: 44px;
  font-size: 20px;
  color: white;
}
.icon1-3{
    line-height: 44px;
  font-size: 20px;
  margin-right:20px; 
  color: white;
}
.h2-icon2{
    margin-left:5px;
    font-size: 18px;
    color: white;
  }
.h2-bgc{
    max-width: 768px;
  min-width: 320px;
  width: 100%;
    height:41px; 
    background-color: #fff; 
    opacity: 0.8;
    position: fixed;
    top:45px;
    z-index: 1;
  }
  .ziz{
    display: block;
    font-size: 4vw;
    height: 15.6vw;
    line-height: 15.6vw;
    text-align: center;
  }
  .ziz2{
    height: 4.45vw;
     background-color:rgba(26,153,183,0.5);
  }
  .ziz3{
    display: block;
    font-size: 3vw;
    line-height: 4.5vw;
    text-align: center;
    color: white;
  }
  .h2-bgc{
    max-width: 768px;
  min-width: 320px;
  width: 100%;
    height:74px; 
    position: fixed;
    top:45px;
    z-index: 1;}
  .h2-bgc-1{ 
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    height:41px; 
    position: fixed;
    top:45px;
    z-index: 1;
  }
  .icon2-2{
    font-size: 15px;
    margin: -6px 0px 0px 19px;
    color: white;
    opacity: 0.8;
    float: left;
}
.zi{
    font-size: 12px;
    color: white;
    line-height: 43px;
    margin-left: -14px;
}
html,
body {
  max-width: 768px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: STHeiti;
background-color: #f0f0f0;
}
.space{
    display: flex;
    justify-content: space-between;
}
body{
    margin-top: 57px;
}
header{
  max-width: 768px;
  min-width: 320px;
    width: 100%;
    height: 44px;
    background-color: #29bde0;
    position: fixed;
    top:0px;

    border-bottom: 1px solid #74d4eb; 
    z-index: 1;
}
.header-2{
    margin-left:20px;
    font-size: 14px; 
    line-height: 41px;
}
.header-2-1{
    width:26px;height: 26px; 
    border-radius: 50%;
    background-color: #fbb435;
     position: absolute;
     top:50%;margin-top:-13px;
     right:18px;z-index: 1;
}
.header-3{
    height: 33px;
    background-color: #29bde0
}
hr {
    margin: 0;
    background: #fbb435;
    height: 1px;
    border: none;
}
.Last-game{
    margin: 13px 18px;
    width: calc(100% - 39px);
    height: 98px;
    border: 1px solid #b6b6b6;
    background-color: #fff;
    position: relative;
    left: 0;top: 0; 
    display:flex;
    justify-content:center;
    color: #9a9a9a;
    align-items:center; height: 98px;
}
.Last-game:hover{
    font-size: 18px;
    color: #fff;
    background-color: #29bde0;
}

.Last-game-span:hover{
    font-size: 18px;
    color: #fff;
}
.Last-game-span{
    font-size: 17px;
    color: #9a9a9a;
}
.icon2{
    color: #e7e7e7;
  position: absolute; 
  top: 50%;right: 1px;
  margin-top: -22px;
    font-size: 30px;
    font-weight:900;
}
.content{
    position: relative;
    left: 0;top: 0; 
    margin: 13px 18px 30px;
    width: calc(100% - 39px);
    height: 393px;
    border: 1px solid #b6b6b6;
    background-color: #fff;
}
.content-header{
    display: block;
    height: 45px; 
    margin: 0; color: #fbb435; 
    line-height: 45px; text-align: center
}
.content-div{

}
div>h4{
    text-align:center;
    line-height: 68px; 
    color: white;
    font-size: 16px;
    font-weight:400;
    margin: 0;
}
h3{ font-size: 18px;

    font-weight:400;}
.text-center{
    font-size: 12px;
    margin: 0;
    text-align:center;
    display: block;
    color: #787878;
}
.icon3{
    position: absolute; 
    top:50%;right:-8px;
    margin-top: -20px;
    font-size: 40px;
  color: #fbb435;
}
.icon3:hover{
    color:#c98c25;
}
.icon4{
    position: absolute; 
    top:50%;left:-8px;
    margin-top: -20px;
    font-size: 40px;
  color: #fbb435}
  .icon4:hover{
      color:#c98c25;
  }
.dot-div{
    width:61px;height:9px; 
    position: absolute; 
    left:50%;
    margin:5px 0px 0px -30px;
}
.dot{
    float: left;
    margin: 0 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e7e7e7;
}
.dot:hover {
    background-color: #fff;
    border:1px solid #29bde0;}
a{
    display:block;
    text-decoration: none !important;
}
.h222{
    max-width: 768px;
    min-width: 320px;
      width: 100%;
      height: 95px;
      background-color: #29bde0 ;
      position: fixed;
      bottom:0px;
      z-index: 1;
      display: flex;
      justify-content:center;
    align-items:center; 

  }
  .body3{
    background-color: #fff ;
    padding-top:44px;
    padding-bottom:100px; margin: 0;
  }
  .result{
    width: 100%; height: 315px;
    background-color: #29bde0; 
    margin-bottom: 5px;
  }
  .result-img{
    display: block; padding: 10px 0px;
    margin: 0 auto;
  }
  .result-text{
    width: 80%;display: block; 
    margin: 0 auto;font-size: 18px;
    color: #ffc865;
  }
  .result-text2{
    width: 80%;display: block;
     margin: 0 auto;font-size :12px;
     color: #fff;
  }
  .record-div{
    width: 80%; 
    margin: 10px auto
  }
  .record-hr{
    background-color: #dddddd;
  }
  .record{
    float: right;
    font-size: 10px;
    color: #c7c7c7;
  }
  .record-2{
    color: #a6a6a6;
    font-size: 13px; 
    margin: 0;
  }
  .content-2{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-content:flex-start;
    
  }
  .content-2>div{
    width:22vw;height:22vw;
    margin: 5vw;
    overflow:hidden;
  }
  .content-3{
    width:22vw;height:22vw;
    border: 1vw solid white;
    background-color: #f5c97b ;
  }
  .content-2>div:hover{
    height:30vw;
    margin-bottom: -5vw;
  }
  .foont{
    width:245px;height:44px;
    color: #fff;
    background-color: #fbb435;
    z-index: 3;
  }
  .foont3{
    width:40%;height:44px;
    color: #fff;
    line-height: 30px;
    background-color: #f66f6f;
    border-radius:10px !important;
    z-index: 3;
  }
  .foont3:hover{
    background-color: #d85454;
    font-size: 18px;
  }
  .foont3-2{
    width:40%;height:44px;
    color: #fff;
    line-height: 30px;
    background-color: #fbb435;
    border-radius:10px !important;
    z-index: 3;
  }
  .white{
      color: #fff;
  }
  .btn-warning:hover {
    color: white;
  }
  .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #29bde0 ;
    border-color: #29bde0 ;
    width: 100%;
    height: 68px;
    line-height: 54px;
    margin: 9px 0px;
}
.btn-primary:hover {
    font-size: 20px;
    background-color: #1c93ad ;
    border-color: #1c93ad ;
}
.btn{
    border-radius: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1c93ad ;
    border-color: #1c93ad ;}

    .h333{
      max-width: 768px;
      min-width: 320px;
        width: 100%;
        height: 65px;
        position: fixed;
        bottom:0px;
        z-index: 2;
        display: flex;
        justify-content:space-around;
      align-items:center; 
  
    }
    .h333-1{
      max-width: 768px;
      min-width: 320px;
        width: 100%;
        height: 65px;
        background-color: #29bde0 ;
        opacity: 0.5;
        position: fixed;
        bottom:0px;
        z-index: 1;
    }
    .icon5-div{
      padding-top: 3vw; 
      display: flex;
      justify-content: space-around;
    }
    .icon5{
      background:url(img/toupiao.png) ;
      background-size: 20vw 4vw;
      width: 4vw;height: 4vw;
    }
    .icon5-1{
     background-position: 0 0;
    }
    .icon5-2{
      background-position: 4.4vw 0;
     }
     .icon5-3{
    background-position:9.45vw  0;
     }
     .icon5-4{
      background-position:14.5vw  0;
     }
      button{
      border: none;
      outline: none !important;
     }
     .bttn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
      color: white;
      background-color: #d85454;
      border-color: #d85454;}
      .bttn-warning:hover {
        color: #fff;
        background-color: #d85454;
        font-size: 18px;}
      .bttn-warning {
        width:40%;height:44px;
        color: #fff;
        line-height: 30px;
        background-color: #f66f6f;
        border-radius:10px !important;
        z-index: 3;}
        .btn.focus, .btn:focus {
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(246,111,111,.25);