html,
body {
  max-width: 768px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: STHeiti;
  background-color: #fff;
}
.icon1 {
  background: url(xuebitu.png);
  background-size: 100px 50px;
  background-position: -2px 0;
}
.icon2 {
  background-position: -57px 0;
}
.icon3 {
  background-position: -4px -22px;
}
.icon4 {
  background-position: -80px -74px;
  position: absolute;
  top: 32px;
}
.icon5 {
  background-position: -50px -25px;
  width: 24px;
  margin:0 12px;
}
.icon6 {
  background-position: -27px -25px;
  margin-left: 6px;
}
.icon7 {
  background-position: -74px 0;
  width: 24px;
  margin:0 12px;
}
.icon8 {
  background: url(icon8.png)no-repeat right 10px top 20px;;
  background-size: 7px 4px;
}
   .Selectionlr{
    width: 33.4%;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
   }
   .Gradient{
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-image:linear-gradient(to top,#ffffff,#d6d6d6,#ffffff) 1 10;
    border-radius: 0%;
   }
select {
  border: none;
  outline: none;
  appearance: none;;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
 background-color: rgb(248, 248, 248);
}
button {/* 清除button默认格式*/
    border: none;
    outline: none;
  }
header {/* 空盒子，变相让固定定位回归文档流 */
  height: 45px;
  
}
.header {/* 头部背景+弹性盒子居中对齐+固定定位*/
  height: 45px;
  width: 100%;
  max-width: 768px;
  background-color: #5fc0cd;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:777;
}

.butule {/* 两个按钮的盒子+两端对齐 */
  width: 144px;
  height: 35px;
  background-color: #55a8b3;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.button-bule {/* 找护工的盒子 */
  color: #5fc0cd;
  width: 72px;
  background-color: #fff;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0px;
}
.button-white {/* 找雇主的盒子 */
  width: 72px;
  color: #fff;
  font-size: 17px;
  background-color: transparent;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0px;
}
.button-icon {/* 右上角图标按钮 */
  width: 21px;
  height: 23px;
  position: absolute;
  right: 14px;
  top: 10px;
}
.Selectionbox {/* 下拉盒子+固定定位+弹性盒子居中对齐 */
  height: 40px;
  width: 100%;
  max-width: 768px;
  border-bottom: 1px solid #e1e5e7;
  background-color: rgb(248, 248, 248);
  position: fixed;
  top: 45px;
  display:flex;
  align-items: center;
  z-index:777;/* 层叠优先级*/
}
.content {/* 表单内容盒子 */
  width: calc(100%-30px);/* 计算 */
  padding: 0px 15px;
  height: 90px;
  display: flex;
  border-bottom: 1px solid #e1e5e7;
}
.leftinfo {/* 表单左边盒子 */
  min-width: 120px;
  width: 60%;
}
.rightinfo {/* 表单右边盒子+相对定位给图标固定定位做定位用 */
  width: 40%;
  line-height: 90px;margin-right: 30px;
  text-align:right;
  position: relative;
  top: 0;
  left: 0;
}
ul {/* 清除ul默认格式 */
  margin: 0;
  list-style: none;
  padding: 0;
}
ul>li {/* 列表单行高度+字垂直居中 */
  height: 30px;
  line-height: 30px;
}
li h3 {/* 文字格式+清除外边距 */
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
i {/* 雪碧图+图标尺寸 */
  background: url(xuebitu.png);
  background-size: 100px 50px;/* 雪碧图尺寸*/
  display: inline-block;
  width: 20px;
  height: 25px;
  float: left;
}
.time {/* 溢出时隐藏显示省略号*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 30px;
}
footer{height: 44px;margin-top:5px ;}
footer > div {/* 页脚盒子+固定定位+弹性盒子居中*/
  height: 44px;
  width: 100%;
  vertical-align: middle;
  max-width: 768px;
  background-color: rgb(248, 248, 248);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e5e7;
}

.circle-button {/* 中间圆钮*/
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #5fc0cd;
}
.l-r-button {/* 左右按钮*/
  width: 50px;
  color: #5fc0cd;
  font-size: 12px;
  background-color: transparent;
  height: 42px;
  text-align: center;
  padding: 0px;
}


.color-999 {
  color: #999;
}
.color-red {
  color: red;
}