html,
body {
  max-width: 768px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: STHeiti;
  background-color: #fff;
}
button:focus {
     
    outline:  none;
}
.icon1 {
  background: url(xuebitu.png);
  background-size: 100px 50px;
  background-position: -2px 0;
}
.icon2 {
  background-position: -57px 0;
}
.icon3 {
  background-position: -4px -22px;
}
.icon4 {
  background-position: -80px -74px;
  position: absolute;
  top: 32px;
}
.icon5 {
  background-position: -50px -25px;
  width: 24px;
  margin:0 12px;
}
.icon6 {
  background-position: -27px -25px;
  margin-left: 6px;
}
.icon7 {
  background-position: -74px 0;
  width: 24px;
  margin:0 12px;
}
.icon8 {
 background-position: -28px 0;
  position: absolute;
  right: 15px;
  top: 7px;
}
   .Selectionlr{
    width: 33.4%;
    position: relative;
    top: 0;
    left: 0;
   }
   .Gradient{
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-image:linear-gradient(to top,#ffffff,#d6d6d6,#ffffff) 1 10;
    border-radius: 0%;
   }
select {
  border: none;
  outline: none;
  appearance: none;;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
 background-color: rgb(248, 248, 248);
}
button {
    border: none;
    outline: none;
  }
header {
  height: 45px;
}
.header {
  height: 45px;
  width: 100%;
  max-width: 768px;
  background-color: #5fc0cd;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butule {
  width: 144px;
  height: 35px;
  background-color: #55a8b3;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.button-bule {
  color: #5fc0cd;
  width: 72px;
  background-color: #fff;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0px;
}
.button-white {
  width: 72px;
  color: #fff;
  font-size: 17px;
  background-color: transparent;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0px;
}
.button-icon {
  width: 21px;
  height: 23px;
  position: absolute;
  right: 14px;
  top: 10px;
}
.Selectionbox {
  height: 40px;
  width: 100%;
  max-width: 768px;
  border-bottom: 1px solid #e1e5e7;
  background-color: rgb(248, 248, 248);
  position: fixed;
  top: 45px;
  display:flex;
  align-items: center;
  z-index:777;
}
.content {
  width: cala(100%-30px);
  padding: 0px 15px;
  height: 90px;
  display: flex;
  border-bottom: 1px solid #e1e5e7;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
h3 {
  margin: 0;
}
ul>li {
  height: 30px;
  line-height: 30px;
}
footer {
  height: 44px;
}
li h3 {
  font-size: 16px;
  font-weight: 300;
}
 
i {
  background: url(xuebitu.png);
  background-size: 100px 50px;
  display: inline;
  width: 20px;
  height: 25px;
  float: left;
}

footer > div {
  height: 44px;
  width: 100%;
  vertical-align: middle;
  max-width: 768px;
  background-color: rgb(248, 248, 248);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e5e7;
  position: fixed;
}

.yuan {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #5fc0cd;
}
.zuoyou {
  width: 50px;
  color: #5fc0cd;
  font-size: 12px;
  background-color: transparent;
  height: 42px;
  text-align: center;
  padding: 0px;
}
.leftinfo {
  min-width: 120px;
  width: 60%;
  flex-direction: column;
  flex: auto;
}
.time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 30px;
}
.color999 {
  color: #999;
}
.rightinfo {
  width: 40%;
  flex-direction: column;
  flex: auto;
  line-height: 90px;
  position: relative;
  top: 0;
  left: 0;
}
.colorred {
  color: red;
}